<!DOCTYPE html>

<html>

    <head>

        <link
            rel="shortcut icon" href="/static/image/favicon.ico"
            type="image/x-icon"
        >

        <link rel="stylesheet" href="/static/css/base.css">

        <script src="/static/javascript/base.js" defer></script>

        {% block css %}
        {% endblock css %}

        {% block title %}
        {% endblock title %}

    </head>

    <body>

        <header>
            <nav>
                {% if user is defined() %}
                    <div>
                        <a href="/">Home</a>
                        <a href="/explore">Explore</a>
                        <a href="/post">Post</a>
                    </div>
                    <div>
                        <a href="/sign-out">
                            <button>Sign Out</button>
                        </a>
                    </div>
                {% else %}
                    <div>
                        <a href="/">Home</a>
                    </div>
                    <div>
                        <a href="/register">
                            <button>Register</button>
                        </a>
                        <a href="/sign-in">
                            <button>Sign In</button>
                        </a>
                    </div>
                {% endif %}
            </nav>
            <div class="messages">
                {% for message in get_flashed_messages(request) %}
                    <p>
                        {{ message }}
                        <span onclick="removeMessage(this);">&times;</span>
                    </p>
                {% endfor %}
            </div>
        </header>

        <br>

        {% block main %}
        {% endblock main %}

    </body>

</html>
