h3 {

    text-align: center;

}

#recent {

    display: flex;

    flex-direction: column;

    justify-content: flex-start;

    row-gap: 6px;

    text-align: center;

}

#recent a {

    text-decoration-line: underline;

    text-underline-offset: 2px;

}
