{% extends "base.jinja2" %}

{% block css %}

    <link rel="stylesheet" href="/static/css/guest/register.css">

{% endblock css %}

{% block title %}

    <title>Register</title>

{% endblock title %}

{% block main %}

    <main>

        <h2>Register</h2>

        <br>

        <form action="/internal/register" method="post" autocomplete="off">
            <input type="text" name="name_" placeholder="Full Name" size="40">
            <br>
            <input type="text" name="username" placeholder="Username" size="40">
            <br>
            <input
                type="password" name="password" placeholder="Password" size="40"
            >
            <br>
            <input
                type="password" name="confirm_password"
                placeholder="Confirm Password" size="40"
            >
            <br>
            <button type="submit">Register</button>
        </form>

    </main>

{% endblock main %}
