{% extends "base.jinja2" %}

{% block css %}

    <link rel="stylesheet" href="/static/css/user/index.css">

{% endblock css %}

{% block title %}

    <title>Home</title>

{% endblock title %}

{% block main %}

    <main>

        <h2>Home</h2>

        <br>

        <p>Hello, {{ user.name }}</p>

    </main>

{% endblock main %}
